#{extends 'main.html' /}
#{set title:'Formulário' /}

  <h1>Cadastro de pessoa</h1>
   
  <form action="/pessoas/salvar">
  
     <div class="form-group">
      <label for="exampleInputEmail1">Nome:</label>
      <input type="text" class="form-control" name="pessoa.nome" placeholder="Nome"></td>
     </div>
     
     <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="pessoa.email" placeholder="Email"></td>
     </div>
     
     <button type="submit" class="btn">Cadastrar</button>
	 <button type="submit" class="btn"><a href="@{Pessoas.listar}">Listar</a></button>
  </form>


 